<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='../src/note.js'></script>
  <script src="../src/interface.js"></script>
  <title>Notes App</title>
</head>
<body>
  <!-- <a href="#1">Note 1</a> |
  <a href="#2">Note 2</a> |
  <a href="#3">Note 3</a> |
  <a href="#4">Note 4</a> -->

  <nav>
    <a href='index.html' data-link>All Notes</a>
    <a href='/create-note' data-link>Create Note</a>
    <a href='/view-note' data-link>Viewing Note</a>
  </nav>

  <ul id="note-list">
    
  </ul>

  <form id="new-note">
    <textarea id="note-text" placeholder="Write your note here..."></textarea>
    <input type="submit" value="Add note">
  </form>

  <div id="note-number"></div>
</body>
</html>
