<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='../src/note.js'></script>
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <title>Notes App</title>
</head>
<body>
  <main>
    <section class="container1" style="display: block;">
      <div class="list-page">
        <div class="left-panel">
          <h1>N.</h1>
          <form id="new-note">
            <textarea class='left-panel add-note-text' id="note-text" placeholder="Write your note here..."></textarea>
            <input class='add-note-button' type="submit" value="Add note">
          </form>
        </div>
        <div>
          <ul id="note-list">
          </ul>
        </div>
      </div>
    </section>

    <section class="container2" style="display: none;">
      <div>
        <h2>Viewing note</h2>
        <input id="back-button" type="submit" value="Back to note list">
        <br>
      </div>
  </section>
  </main>
</body>
</html>
