<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='../src/note.js'></script>
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <title>Notes App</title>
</head>
<body>
  
  <div class="container1" style="display: block;">
    <h1>Notes</h1>
    <ul id="note-list">
    </ul>
    <form id="new-note">
      <textarea id="note-text" placeholder="Write your note here..."></textarea>
      <input type="submit" value="Add note">
    </form>
  </div>

  <div class="container2" style="display: none;">
    <h2>Viewing note</h2>
    <input id="back-button" type="submit" value="Back to note list">
    <br>
  </div>

</body>
</html>
